.draftJsEmojiPlugin__centerWrapper2__4EfaH > .draftJsEmojiPlugin__center__2hzUI > * {
  display:block;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  right:50%;
}

.draftJsEmojiPlugin__centerWrapper__l1cWY {
  text-align: center;
  width: 100%;
}

.draftJsEmojiPlugin__centerWrapper__l1cWY > .draftJsEmojiPlugin__center__2hzUI {
  display: inline-block;
  width: 100%;
}

.draftJsEmojiPlugin__center__2hzUI {
  display: block;
  height: auto;
  margin: 0px auto!important;
}

.draftJsEmojiPlugin__left__23qnn {
  float: left;
  margin-right: 10px;
}

.draftJsEmojiPlugin__right__1o-p7 {
  float: right;
  margin-left: 10px;
}
