#pageContainer {
  max-width: 60em;
  margin: 0px auto;
}

header h1 {
  display: inline;
}

.entry {
  border: 1px solid black;
}

.entry header .title, .entry header .author {
  display: inline;
}

.entry .contents {
  display: flex;
  flex-flow: row;
}

.entry .entryImage {
  flex: 0 0 15em;
}

.entry .entryImage img {
  width: 100%;
}

.entry .notes {
  margin-left: 1em;
  flex: 1 1 auto;
}

.tagBlock {
  display: inline;
  padding: 0px 5px;
}

.unconfirmedTagBlock {
  display: inline;
}

.unconfirmedTagBlock br {
  display: none;
}

.unconfirmedTagBlock:only-child {
  display: inherit;
}

.unconfirmedTagBlock:only-child br {
  display: inherit;
}

.unconfirmedTagBlock .public-DraftStyleDefault-block {
  display: inline;
}
