body {
  font-family: "Proxima Nova", Helvetica, sans-serif;
  margin-top: 3em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::-webkit-input-placeholder, .public-DraftEditorPlaceholder-root {
  color: #888D93;
}

::placeholder {
  color: #888D93;
}

#pageContainer {
  max-width: 960px;
  margin: 0px auto;
}

#siteHeader {
  font-size: 35px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#siteHeader h1 {
  margin: 0;
  font: inherit;
  font-weight: 600;
  flex: 0 0 auto;
}

#siteHeader .search {
  border: none;
  font-size: 27px;
  font-family: inherit;
  margin-left: 20px;
  flex: 1 0 auto;
  align-self: auto;
}

#siteHeader .search:hover {
  border: 0.5px solid #ECEDEE;
  border-radius: 4px;
  margin-left: 19px;
  margin-top: -1px;
}

#siteHeader a {
  color: black;
}

#siteHeader .add {
  font-weight: 600;
  margin-left: 27px;
  align-self: stretch;
  font-size: 40px;
  margin-top: -1px;
}

#siteHeader .add:hover {
  text-decoration: none;
}

#siteHeader .allEntries {
  color: #888D93;
  margin-left: 30px;
  font-size: 27px;
  flex: 1 0 auto;
}

#siteHeader .userButton {
  font-size: 27px;
  color: #888D93;
  align-self: auto;
  margin-left: 20px;
}

.entry {
  margin: 3em 0;
  padding-bottom: 1em;
}

.entry header {
  position: relative;
  margin-bottom: 1.5em;
}

.entry header .title, .entry header .author {
  display: inline;
}

.entry header .title {
  font-size: 23px;
  font-weight: 600;
}

.entry header .author {
  font-size: 20px;
  color: #626469;
}

.entry header .author.hidden-until-hover {
  opacity: 0;
}

.entry.editable:hover header .author.hidden-until-hover {
  opacity: inherit;
}

.entry header .externalLink {
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-align: right;
  font-size: 17px;
}

.entry header .externalLink a {
  color: #888D93;
}

.entry header .externalLink .edit {
  display: none;
}

.entry:hover header .externalLink .edit {
  color: #D6D8DA;
  position: absolute;
  right: 0.5em;
  bottom: 0;
  margin-right: 100%;
  display: inline;
  width: 5em;
}

.entry header input {
  border: none;
  margin-top: -2px;
  font: inherit;
  color: inherit;
}

.entry.editable header:hover input, .entry.editable header input:focus {
  border: 0.5px solid #ECEDEE;
  border-radius: 4px;
  margin: -4px -3px -3px -3px;
  padding: 3px;
}

.entry .contents {
  display: flex;
  flex-flow: row;
}

.entry .leftColumn {
  flex: 0 0 240px;
}

.entry .leftColumn .entryImage img {
  width: 100%;
}

.entry .bottomControls {
  font-size: 15px;
  position: relative;
  margin-top: 1em;
  width: 100%;
}

.entry .dates {
  margin-top: 1em;
}

.entry .dates span {
  font-size: 15px;
  color: #D6D8DA;
  display: inline-block;
}

.entry .dates span:first-child {
  margin-right: 0.5em;
}

.entry .delete {
  right: 0;
}

.entry .permalink, .entry .delete {
  display: none;
  position: absolute;
}

.entry:hover .permalink, .entry:hover .delete {
  display: block;
  color: #D6D8DA;
}

.entry .tagEditorAndControls {
  display: flex;
  flex-direction: row;
}

.entry .tagEditorAndControls .tagEditor {
  flex: 1 1 auto;
}

.entry .tagEditorAndControls .dates {
  margin-top: 0;
  flex: 0 0 auto;
}

.entry .notes {
  margin-left: 1.5em;
  flex: 1 1 auto;
}

.entry .descriptionEditor {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.entry.editable .descriptionEditor .public-DraftEditor-content:hover,
.entry.editable .tagEditor .public-DraftEditor-content:hover,
.entry.editable .descriptionEditor .public-DraftEditor-content:focus,
.entry.editable .tagEditor .public-DraftEditor-content:focus
{

  border: 0.5px solid #ECEDEE;
  border-radius: 4px;
  padding: 4px;
  margin: -5px -5px -5px -5px;
}

.entry .oneColumn .descriptionEditor {
  max-width: 700px;
}

.entry .tagEditor {
  font-size: 17px;
}

.entry .tagEditor a {
  color: #888D93;
}

.entry .oneColumn .tagEditor {
  margin-right: 1.5em;
}

.tagBlock {
  display: inline;
  padding-right: 1.0em;
}

.unconfirmedTagBlock {
  display: inline;
}

.unconfirmedTagBlock br {
  display: none;
}

.unconfirmedTagBlock:only-child {
  display: inherit;
}

.unconfirmedTagBlock:only-child br {
  display: inherit;
}

.unconfirmedTagBlock .public-DraftStyleDefault-block {
  display: inline;
}

.entry .activeImageDrop {
  border: 3px black solid;
}
